<footer>
    <div class="footer-wrapper">
        <div class="ui secondary menu inverted">
            <a class="item" href="https://github.com/abhn/Wall-E" >Theme: Wall-E &copy; 2017 </a>
            <div class="right menu">
               <!-- <a class="item" href="/archive.html">
                    Latest Posts
                </a> -->
                <a class="item" href="https://twitter.com/brettjohnson008">
                    Twitter
                </a>
                <a class="item" href="https://github.com/sdbrett">
                    Github
                </a>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor/semantic.min.js"></script>