.highlight {
  background: $syntax-black;
  color: $syntax-white;

  .hll,
  .s,
  .sa,
  .sb,
  .sc,
  .dl,
  .sd,
  .s2,
  .se,
  .sh,
  .si,
  .sx,
  .sr,
  .s1,
  .ss {
    color: $syntax-yellow;
  }
  .go {
    color: $syntax-grey;
  }
  .err,
  .g,
  .l,
  .n,
  .x,
  .p,
  .ge,
  .gr,
  .gh,
  .gi,
  .gp,
  .gs,
  .gu,
  .gt,
  .ld,
  .no,
  .nd,
  .ni,
  .ne,
  .nn,
  .nx,
  .py,
  .w,
  .bp {
    color: $syntax-light-grey;
  }
  .gh,
  .gi,
  .gu {
    font-weight: bold;
  }
  .ge {
    text-decoration: underline;
  }
  .bp {
    font-style: italic;
  }
  .c,
  .ch,
  .cm,
  .cpf,
  .c1,
  .cs {
    color: $syntax-dark-blue;
  }
  .kd,
  .kt,
  .nb,
  .nl,
  .nv,
  .vc,
  .vg,
  .vi,
  .vm {
    color: $syntax-light-blue;
  }
  .kd,
  .nb,
  .nl,
  .nv,
  .vc,
  .vg,
  .vi,
  .vm {
    font-style: italic;
  }
  .na,
  .nc,
  .nf,
  .fm {
    color: $syntax-dark-green;
  }
  .k,
  .o,
  .cp,
  .kc,
  .kn,
  .kp,
  .kr,
  .nt,
  .ow {
    color: $syntax-light-green;
  }
  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .mo,
  .il {
    color: $syntax-dark-purple;
  }
  .gd {
    color: $syntax-red;
  }
}
