---
layout: default
---
<article id="post-page">
	<center><h2>{{ page.title }}</h2></center>

	{% if page.versions %}
		<div class="by-line">
		Based on:
		
		{% for item in page.versions %}
			{% assign softwareVersion = item.versions | join: ", " %}
			<li> {{ item.software | append: ": " | append:  softwareVersion }}  </li>
		{% endfor %}
		</div>
	{% endif %}

	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	</br>
	<div class="content">

		{{ content }}
	</br>
	</div>
</article>
